# Taipy 설치

Taipy를 설치하려면 그냥 `pip install` 하세요.

In [ ]:
pip install taipy

In [ ]:
pip install pmdarima

In [ ]:
pip install requests

# 패키지 가져오기 및 초기화

In [1]:
# 패키지 가져오기 및 초기화from taipy.gui import Gui, Markdown, notify
from taipy import Config
import taipy as tp

import datetime as dt

from pmdarima import auto_arima

import pandas as pd
import numpy as np

import requests

In [2]:
from pandas.core.common import SettingWithCopyWarning
import warnings

warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)

data_country_date = None
selected_country = None

selected_scenario = None
scenario_selector = None

scenario_name = None

result = None

selected_points = []

data_province_displayed = None

api_year = None
api_pop = None
api_country = None

# Taipy Gui 기본
## 마크다운 구문

Taipy는 Markdown 구문을 사용하여 요소를 표시합니다. `#` 제목을 만들고 `*` 텍스트를 기울임꼴로 표시하고 `**` 굵게 표시합니다.

![](img/gui_basic_eng.png)

In [3]:
page_md = """
# Taipy

Test **here** to put some *markdown*

Click to access the [doc](https://docs.taipy.io/en/latest/)
"""

In [5]:
page = Markdown(page_md)

gui = Gui(page=page)
gui.run(dark_mode=False)

 * Server starting on http://127.0.0.1:5000
 * Serving Flask app 'Taipy' (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

## 시각적 요소
다양한 시각적 요소를 만듭니다. 구문은 각 시각적 요소에 대해 항상 동일합니다.  
`<|{value}|name_of_visual_element|property_1=value_of_property_1|...|>`
- [slider](https://docs.taipy.io/en/latest/manuals/gui/viselements/slider/) 만들기 `<|{value}|slider|>`

- [date](https://docs.taipy.io/en/latest/manuals/gui/viselements/date/) 만들기 `<|{value}|date|>`

- [selector](https://docs.taipy.io/en/latest/manuals/gui/viselements/selector/) 만들기 `<|{value}|selector|lov={list_of_values}|>`

![](img/control.png)

In [6]:
slider_value = 0
date_value = None
selected_value = None

In [7]:
selector = ['Test 1', 'Test 2', 'Test 3']

control_md = """
## Controls

<|{slider_value}|slider|> <|{slider_value}|>

<|...|> <|{date_value}|>

<|...|>  <|{selected_value}|>
"""

In [8]:
gui.stop()
page.set_content(control_md)
gui.run()

Gui server has been stopped
 * Server starting on http://127.0.0.1:5000
 * Serving Flask app 'Taipy' (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

## 데이터 비주얼리제이션

다른 지역의 사망자, 확인된 사례 및 회복된 수에 대한 정보를 수집하는 데이터 세트는 대화형 대시보드를 만드는 데 사용됩니다.

In [9]:
path_to_data = "data/covid-19-all.csv"
data = pd.read_csv(path_to_data, low_memory=False)
data[-5:]

,Country/Region,Province/State,Latitude,Longitude,Confirmed,Recovered,Deaths,Date
1241947,Vietnam,NaN,14.058324,108.277199,1465.0,1325.0,35.0,2020-12-31
1241948,West Bank and Gaza,NaN,31.952200,35.233200,138004.0,117183.0,1400.0,2020-12-31
1241949,Yemen,NaN,15.552727,48.516388,2099.0,1394.0,610.0,2020-12-31
1241950,Zambia,NaN,-13.133897,27.849332,20725.0,18660.0,388.0,2020-12-31
1241951,Zimbabwe,NaN,-19.015438,29.154857,13867.0,11250.0,363.0,2020-12-31

In [13]:
def initialize_case_evolution(data, selected_country='France'):
    # Aggregation of the dataframe per Country/Region
    data_country_date = data.groupby(["Country/Region",'Date'])\
                            .sum()\
                            .reset_index()
    
    # a country is selected, here France by default
    data_country_date = data_country_date.loc[data_country_date['Country/Region']==selected_country]
    return data_country_date

In [14]:
data_country_date = initialize_case_evolution(data)
data_country_date.head()

,Country/Region,Date,Latitude,Longitude,Confirmed,Recovered,Deaths
18101,France,2020-01-24,14.6415,-56.3159,2.0,0.0,0.0
18102,France,2020-01-25,14.6415,-56.3159,3.0,0.0,0.0
18103,France,2020-01-26,14.6415,-56.3159,3.0,0.0,0.0
18104,France,2020-01-27,14.6415,-56.3159,3.0,0.0,0.0
18105,France,2020-01-28,14.6415,-56.3159,4.0,0.0,0.0

프랑스의 사망자수( Y 는 사망자수 , x 는 날짜 )의 변화를 보여주는 [차트](https://docs.taipy.io/en/latest/manuals/gui/viselements/chart/) 를 만듭니다 . 시각적 요소(차트)는 특정 속성(예: x , y , 유형 )이 있는 다른 요소와 동일한 구문을 사용합니다 . 다음은 [차트의 몇 가지 예](https://docs.taipy.io/en/release-1.1/manuals/gui/viselements/charts/bar/)입니다 . x 및 y 속성 은 표시할 데이터 프레임 열의 이름만 필요합니다.

![](img/simple_graph.png)

In [15]:
country_md = "(-> create a chart showing the evolution of Deaths <-)"

In [ ]:
gui.stop()
page.set_content(country_md)
gui.run()

Gui server has been stopped
 * Server starting on http://127.0.0.1:5000
 * Serving Flask app 'Taipy' (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

## 새 추적(traces) 추가 
- 그래프에 확인 및 회복된 사례 수(_확증_ 및 _회복_)를 사망자 수와 함께 추가합니다.
- y (및 x)는 더 많은 추적(`y[1]=`, `y[2]=`, `y[3]=`)을 추가하기 위해 이러한 방식으로 인덱싱될 수 있습니다.

![](img/multi_traces.png)

In [ ]:
country_md = "<|{data_country_date}|chart|type=bar|x=Date|y[1]=Deaths|...|>"

In [ ]:
gui.stop()
page.set_content(country_md)
gui.run()

Gui server has been stopped
 * Server starting on http://127.0.0.1:5000
 * Serving Flask app 'Taipy' (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

## 개인화된 속성으로 그래프 스타일 지정 
_layout_ 사전(dictionnary)은 막대가 표시되는 방법을 지정합니다. 그것들은 '쌓일(stacked)'될 것입니다.

_options_ 사전(dictionnary)은 선택되지 않은 마커(maker)의 불투명도(opacity)를 변경합니다 .

이것들은 Plotly 속성입니다.

![](img/stack_chart.png)

In [ ]:
layout = {'barmode':'stack'}
options = {"unselected":{"marker":{"opacity":0.5}}}
country_md = "<|{data_country_date}|chart|type=bar|x=Date|y[1]=Deaths|y[2]=Recovered|y[3]=Confirmed|layout={layout}|options={options}|>"

In [ ]:
gui.stop()
page.set_content(country_md)
gui.run()

Gui server has been stopped
 * Server starting on http://127.0.0.1:5000
 * Serving Flask app 'Taipy' (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

## 데이터를 요약(sum up)하는 텍스트 추가 
[텍스트](https://docs.taipy.io/en/latest/manuals/gui/viselements/text/) 시각적 요소를 사용합니다 .

- 총 사망(Deaths)수를 추가합니다( _data_country_date_ 의 마지막 줄 ) .
- 총 회복(Recovered)수를 추가합니다( _data_country_date_ 의 마지막 줄 ) .
- 총 확진(Confirmed)수를 추가합니다( _data_country_date_ 의 마지막 줄 ) .

In [ ]:
data_country_date

,Country/Region,Date,Latitude,Longitude,Confirmed,Recovered,Deaths
18101,France,2020-01-24,14.641500,-56.315900,2.0,0.0,0.0
18102,France,2020-01-25,14.641500,-56.315900,3.0,0.0,0.0
18103,France,2020-01-26,14.641500,-56.315900,3.0,0.0,0.0
18104,France,2020-01-27,14.641500,-56.315900,3.0,0.0,0.0
18105,France,2020-01-28,14.641500,-56.315900,4.0,0.0,0.0
...,...,...,...,...,...,...,...
18439,France,2020-12-27,91.463495,-238.646914,2616510.0,195861.0,62867.0
18440,France,2020-12-28,91.463495,-238.646914,2619616.0,196642.0,63235.0
18441,France,2020-12-29,91.463495,-238.646914,2631110.0,197726.0,64204.0
18442,France,2020-12-30,91.463495,-238.646914,2657624.0,198966.0,64508.0
18443,France,2020-12-31,91.463495,-238.646914,2677666.0,200142.0,64759.0

This is how we can get the total number of Deaths from the daatset for France.

In [ ]:
data_country_date.iloc[-1, 6] # 프랑스의 사망자 수를 제공합니다(5는 회복자 수, 4는 확진자 )

64759.0

[텍스트](https://docs.taipy.io/en/release-1.1/manuals/gui/viselements/text/) 시각적 요소를 사용합니다 . `{}` 사이에 어떤 Python 변수도 넣을 수 있지만 또한 어떠한 Python 코드도 넣을 수 있습니다.

![](img/control_text.png)

In [ ]:
country_md = """
## Deaths <|{data_country_date.iloc[-1, 6]}|text|>

## Recovered <|...|text|>

## Confirmed <|...|text|>

<|{data_country_date}|chart|type=bar|x=Date|y[1]=Deaths|y[2]=Recovered|y[3]=Confirmed|layout={layout}|options={options}|>
"""

In [ ]:
gui.stop()
page.set_content(country_md)
gui.run()

Gui server has been stopped
 * Server starting on http://127.0.0.1:5000
 * Serving Flask app 'Taipy' (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

## 로컬 on_change 
- 모든 _국가/지역_ 의 이름이 포함된 dropdown=True [selector](https://docs.taipy.io/en/latest/manuals/gui/viselements/selector/)를 추가합니다.
- _on_change_ selector 속성에 _on_change_country_ 함수의 이름을 지정 합니다 . 이 함수는 selector가 사용될 때 호출됩니다.
- 이 함수에는 'state' 매개변수가 있으며, 완성되어야 합니다. selector를 사용할 때 이 함수는 _state_ 인수와 함께 호출됩니다. 그것은 모든 Gui 변수를 포함합니다. 'state.data_country_date'는 GUI에서 사용되는 데이터 프레임입니다.

![](img/on_change_local.png)

In [ ]:
selector_country = list(data['Country/Region'].astype(str).unique())
selected_country = 'France'

country_md = """
(-->create a selector with:
        selected_country as a selection,
        selector_country as a lov,
        and with on_change=on_change_country in the properties <--)

## Deaths <|{data_country_date.iloc[-1, 6]}|>

## Recovered <|{data_country_date.iloc[-1, 5]}|>

## Confirmed <|{data_country_date.iloc[-1, 4]}|>

<|{data_country_date}|chart|type=bar|x=Date|y[1]=Deaths|y[2]=Recovered|y[3]=Confirmed|layout={layout}|options={options}|>
"""

In [ ]:
def on_change_country(state):
    # state는 모든 Gui 변수를 포함하며 이 state 변수를 통해 Gui를 업데이트할 수 있습니다.
    # state.selected_country, state.data_country_date, ...
    # 올바른 국가로 data_country_date 업데이트(initialize_case_evolution 사용)
    print("Chosen country: ", state.selected_country)
    ...

In [ ]:
gui.stop()
page.set_content(country_md)
gui.run()

Gui server has been stopped
 * Server starting on http://127.0.0.1:5000
 * Serving Flask app 'Taipy' (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off
Chosen country:  Brazil

## Layout

[layout](https://docs.taipy.io/en/latest/manuals/gui/viselements/layout/) 블록을 사용하여 페이지 구조를 변경합니다 . 이 블록은 텍스트/시각적 요소를 넣을 보이지 않는 열을 만듭니다.

구문:
```
<|layout|columns=1 1 1 ...|
(firsrt column)

(in second column)

(third column)
(again, third column)

(...)
|>
```

In [ ]:
final_country_md = """
(-> beginning of layout block <-)
<|{selected_country}|selector|lov={selector_country}|on_change=on_change_country|dropdown|label=Country|>

## Deaths <|{data_country_date.iloc[-1, 6]}|>

## Recovered <|{data_country_date.iloc[-1, 5]}|>

## Confirmed <|{data_country_date.iloc[-1, 4]}|>
(-> end of layout block <-)

<|{data_country_date}|chart|type=bar|x=Date|y[1]=Deaths|y[2]=Recovered|y[3]=Confirmed|layout={layout}|options={options}|>
"""

In [ ]:
gui.stop()
page.set_content(final_country_md)
gui.run()

Gui server has been stopped
 * Server starting on http://127.0.0.1:5000
 * Serving Flask app 'Taipy' (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

![](img/layout.png)

# Map

In [ ]:
def initialize_map(data):
    data['Province/State'] = data['Province/State'].fillna(data["Country/Region"])
    data_province = data.groupby(["Country/Region",
                                  'Province/State',
                                  'Longitude',
                                  'Latitude'])\
                         .max()
                         

    data_province_displayed = data_province[data_province['Deaths']>10].reset_index()

    data_province_displayed['Size'] = np.sqrt(data_province_displayed.loc[:,'Deaths']/data_province_displayed.loc[:,'Deaths'].max())*80 + 3
    data_province_displayed['Text'] = data_province_displayed.loc[:,'Deaths'].astype(str) + ' deaths </br> ' + data_province_displayed.loc[:,'Province/State']
    return data_province_displayed

In [ ]:
data_province_displayed = initialize_map(data)
data_province_displayed.head()

,Country/Region,Province/State,Longitude,Latitude,Confirmed,Recovered,Deaths,Date,Size,Text
1,Afghanistan,Afghanistan,67.709953,33.93911,51526.0,41727.0,2191.0,2020-12-31,17.771247,2191.0 deaths </br> Afghanistan
3,Albania,Albania,20.168300,41.15330,58316.0,33634.0,1181.0,2020-12-31,13.844784,1181.0 deaths </br> Albania
4,Algeria,Algeria,1.659600,28.03390,99610.0,67127.0,2756.0,2020-12-31,19.566684,2756.0 deaths </br> Algeria
5,Andorra,Andorra,1.521800,42.50630,8049.0,7432.0,84.0,2020-12-31,5.892249,84.0 deaths </br> Andorra
6,Angola,Angola,17.873900,-11.20270,17553.0,11044.0,405.0,2020-12-31,9.350728,405.0 deaths </br> Angola

지도(map) 스타일을 지정하는 속성
- 마커(maker) color는 사망자 수 에 해당합니다(_Deaths_ 열 ).
- 마커(maker) size는 사망자 수에 따른 _Size_ 열의 크기에 해당합니다.

layout_map 매개변수로 지도의 초기 확대/축소(zoom) 및 위치(position)를 정의했습니다.

In [ ]:
marker_map = {"color":"Deaths", "size": "Size", "showscale":True, "colorscale":"Viridis"}
layout_map = {
            "dragmode": "zoom",
            "mapbox": { "style": "open-street-map", "center": { "lat": 38, "lon": -90 }, "zoom": 3}
            }

우리는 Plotly에게 다음을 제공합니다:

- map type(유형)
- latitude(위도) 열의 이름
- longitude(경도) 열의 이름
- properties: 마커의 크기와 색상
- points(점)의 text에 대한 열 이름

In [ ]:
map_md = """
<|{data_province_displayed}|chart|type=scattermapbox|selected={selected_points}|lat=Latitude|lon=Longitude|marker={marker_map}|layout={layout_map}|text=Text|mode=markers|height=800px|options={options}|>
"""

In [ ]:
gui.stop()
page.set_content(map_md)
gui.run()

Gui server has been stopped
 * Server starting on http://127.0.0.1:5000
 * Serving Flask app 'Taipy' (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

![](img/carte.png)

### 포인트 선택 시 API 호출 

지도에서 포인트를 선택 하면 API 호출을 통해 _expandable(확장 가능한)_ 블록에 데이터가 구현됩니다.

이를 위해서는 차트 의 _selected_ 속성이 필요하고 전역 _on_change_ 함수 를 통해 변경 사항을 처리해야 합니다.

In [ ]:
map_md = """
<|Information|expandable|expanded=False|
<|layout|columns=1 1|
Country: <|{api_country}|>

Population: (Year: <|{api_year}|>, Value: <|{api_pop}|>)
|>
|>

<br/>
<|{data_province_displayed}|chart|type=scattermapbox|selected={selected_points}|lat=Latitude|lon=Longitude|marker={marker_map}|layout={layout_map}|text=Text|mode=markers|height=800px|options={options}|>
"""

In [ ]:
url_pop = "https://countriesnow.space/api/v0.1/countries/population"

def api_call(state):
    state.api_country = state.data_province_displayed.loc[state.selected_points[0], "Country/Region"]
    
    if state.api_country == 'US':
        state.api_country = "United States"
    
    body = {"country": state.api_country}
    
    response_pop = requests.post(url_pop, body).json()
    
    if not response_pop['error']:
        state.api_year = response_pop['data']['populationCounts'][-1]['year']
        state.api_pop = response_pop['data']['populationCounts'][-1]['value']

In [ ]:
def on_change(state, var_name, var_value):
    print(var_name, var_value)
     # on_change는 Gui 변수가 변경될 때마다 호출됩니다(Gui를 통하거나 state.xxx = yyy를 사용하여)
     # 1) selected_points 변경 시 'api_call' 호출
    ...

In [ ]:
gui.stop()
gui.on_change = on_change
page.set_content(map_md)
gui.run()

Gui server has been stopped
 * Server starting on http://127.0.0.1:5000
 * Serving Flask app 'Taipy' (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off
selected_points [62]
api_country Brazil
api_year 2018
api_pop 209469333
selected_points [2505]
api_country US
api_year 2018
api_pop 326687501

# Part와 _render_ 속성 
- 'Map'과 'Country'의 lov(list of value:변수목록) [토글(toggle)](https://docs.taipy.io/en/latest/manuals/gui/viselements/toggle/)(selctor와 동일하게 작동)을 만듭니다.
- 토글 값에 따라 렌더링 여부를 결정하는 두 개의 part 블록을 만듭니다.
    - 이렇게 하려면 part 블록의 render 속성 `{}` 안에 Python 코드를 삽입할 수 있다는 사실을 이용하십시오.

In [ ]:
representation_selector = ['Map', 'Country']
selected_representation = representation_selector[0]

In [ ]:
main_page = """
<|{selected_representation}|toggle|lov={representation_selector}|>

<|part|render={selected_representation == "Country"}|
"""+final_country_md+"""
|>

<|part|render={selected_representation == "Map"}|
"""+map_md+"""
|>
"""

In [ ]:
gui.stop()
page.set_content(main_page)
gui.run()

Gui server has been stopped
 * Server starting on http://127.0.0.1:5000
 * Serving Flask app 'Taipy' (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off
selected_representation Pays
Chosen country:  Mexico
data_country_date       Country/Region        Date  Latitude  Longitude  Confirmed  Recovered  \
33387         Mexico  2020-01-23   20.6595  -100.3899        0.0        0.0
33388         Mexico  2020-02-28   20.6595  -100.3899        1.0        0.0
33389         Mexico  2020-02-29   20.6595  -100.3899        4.0        0.0
33390         Mexico  2020-03-01   23.0000  -102.0000        5.0        0.0
33391         Mexico  2020-03-02   23.0000  -102.0000        5.0        0.0
...              ...         ...       ...        ...        ...        ...
33691         Mexico  2020-12-27  715.7070 -3317.2631  1383434.0  1038766.0
33692         Mexico  2020-12-28  715.7070 -3317.2631  1389430.0  1048539.0
33693         Mexico  2020-12-29  715.7070 -3317.2631  1401529.0  1058429.0
33694         Mexico  2020-12-30  715.7070 -3317.2631  1413935.0  1066771.0
33695         Mexico  2020-12-31  715.7070 -3317.2631  1426094.0  1074795.0

         Deaths
33387       0.0
33388       0.0
33389       0.0
33390       0.0
33391       0.0
...         ...
33691  122426.0
33692  122855.0
33693  123845.0
33694  124897.0
33695  125807.0

[309 rows x 7 columns]

![](img/part_render.png)

# Taipy Core
다음은 국가의 사망자 수를 예측하는 데 사용할 함수입니다. 우리는 다음을 진행할 것입니다:

- 데이터 전처리(_preprocess_),
- 훈련 및 테스트 데이터베이스 생성(_make_train_test_data_),
- 모델 훈련(_train_model_),
- 예측 생성(_forecast_),
- 과거 데이터와 예측(_result_) 으로 데이터 프레임을 생성합니다.


![](img/all_architecture.svg)

In [ ]:
def preprocess(initial_data, country):
    data = initial_data.groupby(["Country/Region",'Date'])\
                       .sum()\
                       .dropna()\
                       .reset_index()

    preprocess_data = data.loc[data['Country/Region']==country].reset_index(drop=True)
    return preprocess_data
    
    
def make_train_test_data(preprocess_data):
    perc_test = 0.3
    nb_to_predict = int(perc_test*len(preprocess_data))
    train_data = preprocess_data[:-nb_to_predict]
    return train_data, nb_to_predict


def train_model(train_data):
    model = auto_arima(train_data['Deaths'],
                       start_p=1, start_q=1,
                       max_p=5, max_q=5,
                       start_P=0, seasonal=False,
                       d=1, D=1, trace=True,
                       error_action='ignore',  
                       suppress_warnings=True)
    model.fit(train_data['Deaths'])
    return model


def forecast(model, nb_to_predict):
    predictions = model.predict(n_periods=nb_to_predict)
    return predictions


def result(preprocess_data, predictions, nb_to_predict):
    pred_series = pd.Series([np.NaN]*(len(preprocess_data)-nb_to_predict) + list(predictions), name='Predictions')
    return pd.concat([preprocess_data, pred_series], axis=1)

먼저 Data Nodes를 정의한 다음 tasks(Python 함수와 연결됨)을 정의해야 합니다. 또한 이러한 tasks을 다른 pipelines으로 수집하고 이러한 pipelines을 scenario로 수집합니다.

Data Node에는 **unique id(고유 ID)** 가 필요합니다. 필요한 경우 CSV 및 SQL 용으로 스토리지 유형을 변경할 수 있습니다. 그런 다음 다른 매개변수(parameters)가 필요합니다.

### 전처리를 위한 데이터 노드 및 태스크(Data Nodes and Task for preprocess)

<img src="img/preprocess.svg" alt="drawing" width="500"/>

In [ ]:
initial_data_cfg = Config.configure_data_node(id="initial_data",
                                              storage_type="csv",
                                              path=path_to_data,
                                              cacheable=True,
                                              validity_period=dt.timedelta(days=5))

country_cfg = Config.configure_data_node(id="country", default_data="France",
                                         cacheable=True, validity_period=dt.timedelta(days=5))

preprocess_data_cfg =  Config.configure_data_node(id="preprocess_data",
                                                  cacheable=True, validity_period=dt.timedelta(days=5))


task_preprocess_cfg = Config.configure_task(id="task_preprocess_data",
                                           function=preprocess,
                                           input=[initial_data_cfg, country_cfg],
                                           output=preprocess_data_cfg)

### make_train_test_data에 대한 Data Nodes 및 Task

<img src="img/make_train_test_data.svg" alt="drawing" width="500"/>

In [ ]:
train_data_cfg =  Config.configure_data_node(id="train_data", cacheable=True, validity_period=dt.timedelta(days=5))

nb_to_predict_cfg = Config.configure_data_node(id="nb_to_predict",
                                               cacheable=True, validity_period=dt.timedelta(days=5))

task_train_test_cfg = Config.configure_task(id="task_make_train_test_data",
                                           function=make_train_test_data,
                                           input=preprocess_data_cfg,
                                           output=[train_data_cfg, nb_to_predict_cfg])

### train_model에 대한 Data Nodes 및 Task

<img src="img/train_model.svg" alt="drawing" width="500"/>

In [ ]:
model_cfg = Config.configure_data_node(id="model", cacheable=True, validity_period=dt.timedelta(days=5))

task_train_cfg = Config.configure_task(id="task_train",
                                      function=train_model,
                                      input=train_data_cfg,
                                      output=model_cfg)

### forecast에 대한 Data Nodes 및 Task

<img src="img/forecast.svg" alt="drawing" width="500"/>

In [ ]:
# 1) configure the predictions Data Node (predictions_cfg)

# 2) configure the task_forecast task (task_forecast_cfg)
# (input=[model, nb_to_predict] / output=predictions_cfg / function=forecast)

### result에 대한 Data Nodes 및 Task

<img src="img/result.svg" alt="drawing" width="500"/>

In [ ]:
# 1) configure the result Data Node (result_cfg)
# 2) configure the task_result task (task_result_cfg)
# (input=[preprocess_data, predictions, nb_to_predict] / output=result_cfg / function=result)

## [pipelines 구성(Configuration)](https://docs.taipy.io/en/release-1.1/manuals/reference/taipy.Config/#taipy.core.config.config.Config.configure_default_pipeline)

In [ ]:
pipeline_preprocessing_cfg = Config.configure_pipeline(id="pipeline_preprocessing",
                                                       task_configs=[task_preprocess_cfg, task_train_test_cfg])

pipeline_train_cfg = Config.configure_pipeline(id="pipeline_train",
                                               task_configs=[task_train_cfg])

pipeline_forecast_cfg = Config.configure_pipeline(id="pipeline_forecast",
                                                       task_configs=[task_forecast_cfg, task_result_cfg])

## [scenario 구성(Configuration)](https://docs.taipy.io/en/release-1.1/manuals/reference/taipy.Config/#taipy.core.config.config.Config.configure_default_scenario)

In [ ]:
scenario_cfg = Config.configure_scenario(id='scenario', pipeline_configs=[pipeline_preprocessing_cfg,
                                                                         pipeline_train_cfg,
                                                                         pipeline_forecast_cfg])

## scenario 생성(creation) 및 제출(submit)

In [ ]:
scenario = tp.create_scenario(scenario_cfg, name='First Scenario')
tp.submit(scenario)

C:\Users\jacta\anaconda3\lib\site-packages\taipy\core\data\csv.py:145: DtypeWarning: Columns (0,1) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(self._path)

[2022-07-11 11:45:19,850][Taipy][INFO] job JOB_task_preprocess_data_3ce74232-bb9c-4616-89fb-6449fad091ff is completed.
[2022-07-11 11:45:20,015][Taipy][INFO] job JOB_task_make_train_test_data_665f7242-2971-42c5-b720-bfaba5e3c542 is completed.
Performing stepwise search to minimize aic
 ARIMA(1,1,1)(0,0,0)[0] intercept   : AIC=2994.124, Time=0.11 sec
 ARIMA(0,1,0)(0,0,0)[0] intercept   : AIC=3349.636, Time=0.01 sec
 ARIMA(1,1,0)(0,0,0)[0] intercept   : AIC=3045.305, Time=0.04 sec
 ARIMA(0,1,1)(0,0,0)[0] intercept   : AIC=3200.566, Time=0.05 sec
 ARIMA(0,1,0)(0,0,0)[0]             : AIC=3402.421, Time=0.01 sec
 ARIMA(2,1,1)(0,0,0)[0] intercept   : AIC=2996.090, Time=0.17 sec
 ARIMA(1,1,2)(0,0,0)[0] intercept   : AIC=2996.081, Time=0.15 sec
 ARIMA(0,1,2)(0,0,0)[0] intercept   : AIC=3162.541, Time=0.11 sec
 ARIMA(2,1,0)(0,0,0)[0] intercept   : AIC=3014.299, Time=0.03 sec
 ARIMA(2,1,2)(0,0,0)[0] intercept   : AIC=2996.306, Time=0.16 sec
 ARIMA(1,1,1)(0,0,0)[0]             : AIC=2992.816, Time=0.05 sec
 ARIMA(0,1,1)(0,0,0)[0]             : AIC=3237.322, Time=0.03 sec
 ARIMA(1,1,0)(0,0,0)[0]             : AIC=3047.241, Time=0.02 sec
 ARIMA(2,1,1)(0,0,0)[0]             : AIC=2994.775, Time=0.09 sec
 ARIMA(1,1,2)(0,0,0)[0]             : AIC=2994.765, Time=0.07 sec
 ARIMA(0,1,2)(0,0,0)[0]             : AIC=3191.574, Time=0.07 sec
 ARIMA(2,1,0)(0,0,0)[0]             : AIC=3014.129, Time=0.02 sec
 ARIMA(2,1,2)(0,0,0)[0]             : AIC=2994.978, Time=0.07 sec

Best model:  ARIMA(1,1,1)(0,0,0)[0]
Total fit time: 1.278 seconds
[2022-07-11 11:45:21,451][Taipy][INFO] job JOB_task_train_f9329a00-bd4a-45b8-af39-8504b6a15bfc is completed.
[2022-07-11 11:45:21,556][Taipy][INFO] job JOB_task_forecast_0f06ebc8-1afe-4a8c-a62a-8e4eb4e7d2c2 is completed.
[2022-07-11 11:45:21,669][Taipy][INFO] job JOB_task_result_9d2f11d7-6705-4450-b4fa-76c7095ed8cf is completed.

In [ ]:
scenario.model.read()

ARIMA(order=(1, 1, 1), scoring_args={}, suppress_warnings=True,
      with_intercept=False)

In [ ]:
scenario.result.read()

,Country/Region,Date,Latitude,Longitude,Confirmed,Recovered,Deaths,Predictions
0,France,2020-01-24,14.641500,-56.315900,2.0,0.0,0.0,NaN
1,France,2020-01-25,14.641500,-56.315900,3.0,0.0,0.0,NaN
2,France,2020-01-26,14.641500,-56.315900,3.0,0.0,0.0,NaN
3,France,2020-01-27,14.641500,-56.315900,3.0,0.0,0.0,NaN
4,France,2020-01-28,14.641500,-56.315900,4.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...
338,France,2020-12-27,91.463495,-238.646914,2616510.0,195861.0,62867.0,32931.922617
339,France,2020-12-28,91.463495,-238.646914,2619616.0,196642.0,63235.0,32936.896572
340,France,2020-12-29,91.463495,-238.646914,2631110.0,197726.0,64204.0,32941.767204
341,France,2020-12-30,91.463495,-238.646914,2657624.0,198966.0,64508.0,32946.536660
342,France,2020-12-31,91.463495,-238.646914,2677666.0,200142.0,64759.0,32951.207042

In [ ]:
scenario.predictions.read()

array([31336.91486027, 31375.02135569, 31412.33627815, 31448.87607071,
       31484.65683488, 31519.6943377 , 31554.00401867, 31587.60099658,
       31620.50007616, 31652.71575462, 31684.262228  , 31715.15339748,
       31745.40287544, 31775.02399153, 31804.02979849, 31832.43307792,
       31860.24634591, 31887.48185857, 31914.15161741, 31940.26737463,
       31965.84063831, 31990.8826775 , 32015.40452712, 32039.4169929 ,
       32062.93065608, 32085.95587812, 32108.50280525, 32130.5813729 ,
       32152.20131016, 32173.37214398, 32194.10320345, 32214.40362383,
       32234.28235065, 32253.7481436 , 32272.80958041, 32291.47506062,
       32309.75280931, 32327.6508807 , 32345.17716167, 32362.33937532,
       32379.14508427, 32395.60169408, 32411.71645647, 32427.49647251,
       32442.94869576, 32458.07993537, 32472.896859  , 32487.40599583,
       32501.61373942, 32515.52635049, 32529.14995974, 32542.4905705 ,
       32555.55406139, 32568.34618894, 32580.87259007, 32593.13878463,
       32605.15017781, 32616.91206249, 32628.42962164, 32639.70793054,
       32650.75195906, 32661.56657382, 32672.15654035, 32682.52652519,
       32692.68109795, 32702.6247333 , 32712.36181298, 32721.89662769,
       32731.23337901, 32740.37618125, 32749.32906324, 32758.09597013,
       32766.68076512, 32775.08723115, 32783.31907259, 32791.37991684,
       32799.27331599, 32807.00274831, 32814.57161982, 32821.98326579,
       32829.24095223, 32836.34787727, 32843.30717263, 32850.12190497,
       32856.79507725, 32863.32963004, 32869.72844285, 32875.99433534,
       32882.13006863, 32888.13834647, 32894.02181644, 32899.78307114,
       32905.42464931, 32910.94903693, 32916.35866837, 32921.65592743,
       32926.84314836, 32931.92261696, 32936.89657152, 32941.76720386,
       32946.53666025, 32951.20704239])

## 캐싱(Caching)
"input" Data Nodes 변경되지 않았기 때문에 일부 작업(job)을 건너뜁니다.

In [ ]:
tp.submit(scenario)

[2022-07-11 11:46:32,508][Taipy][INFO] job JOB_task_preprocess_data_72e6aac4-f59b-4f8e-867d-385aa1d7518f is skipped.
[2022-07-11 11:46:32,601][Taipy][INFO] job JOB_task_make_train_test_data_0b7f6d96-b114-4630-9f8c-22b2baa1c0c3 is skipped.
[2022-07-11 11:46:32,672][Taipy][INFO] job JOB_task_train_518c7efa-e5f1-46bf-940d-ae4840f81b0c is skipped.
[2022-07-11 11:46:32,768][Taipy][INFO] job JOB_task_forecast_072bb0d5-2af3-4c50-90e1-affd2f403aa6 is completed.
[2022-07-11 11:46:32,863][Taipy][INFO] job JOB_task_result_18ae1e37-b809-49e6-98b1-d4211555b35d is completed.

## data nodes에 쓰기

데이터 노드를 쓰려면:

`<Data Node>.write(new_value)`

In [ ]:
scenario.country.write('US')
tp.submit(scenario)
scenario.result.read()

C:\Users\jacta\anaconda3\lib\site-packages\taipy\core\data\csv.py:145: DtypeWarning: Columns (0,1) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(self._path)

[2022-07-11 11:48:24,748][Taipy][INFO] job JOB_task_preprocess_data_eea20e06-8fc5-4f6e-860c-c2d92683fe9e is completed.
[2022-07-11 11:48:24,880][Taipy][INFO] job JOB_task_make_train_test_data_ed8a89fc-5cfb-4647-b0ea-5bf23ca71592 is completed.
Performing stepwise search to minimize aic
 ARIMA(1,1,1)(0,0,0)[0] intercept   : AIC=3565.937, Time=0.03 sec
 ARIMA(0,1,0)(0,0,0)[0] intercept   : AIC=3869.494, Time=0.01 sec
 ARIMA(1,1,0)(0,0,0)[0] intercept   : AIC=3564.625, Time=0.02 sec
 ARIMA(0,1,1)(0,0,0)[0] intercept   : AIC=3712.670, Time=0.06 sec
 ARIMA(0,1,0)(0,0,0)[0]             : AIC=4064.717, Time=0.01 sec
 ARIMA(2,1,0)(0,0,0)[0] intercept   : AIC=3565.875, Time=0.03 sec
 ARIMA(2,1,1)(0,0,0)[0] intercept   : AIC=3567.852, Time=0.06 sec
 ARIMA(1,1,0)(0,0,0)[0]             : AIC=3573.780, Time=0.01 sec

Best model:  ARIMA(1,1,0)(0,0,0)[0] intercept
Total fit time: 0.228 seconds
[2022-07-11 11:48:25,231][Taipy][INFO] job JOB_task_train_93ce69c4-df8d-4e5a-b8e2-3fca1b9c12d6 is completed.
[2022-07-11 11:48:25,334][Taipy][INFO] job JOB_task_forecast_aba119cd-cab4-4c32-91d4-bd67db7232c1 is completed.
[2022-07-11 11:48:25,427][Taipy][INFO] job JOB_task_result_c9b8efa4-53eb-49ff-b0a5-9071df04bbc2 is completed.

,Country/Region,Date,Latitude,Longitude,Confirmed,Recovered,Deaths,Predictions
0,US,2020-01-22,47.140037,-120.791360,1.0,0.0,0.0,NaN
1,US,2020-01-23,47.140037,-120.791360,1.0,0.0,0.0,NaN
2,US,2020-01-24,85.345498,-210.450080,2.0,0.0,0.0,NaN
3,US,2020-01-25,87.000686,-209.922210,2.0,0.0,0.0,NaN
4,US,2020-01-26,158.375485,-442.264230,5.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...
340,US,2020-12-27,124119.377356,-298994.802493,19222064.0,0.0,334533.0,281684.136115
341,US,2020-12-28,124119.377356,-298994.802493,19396237.0,0.0,336438.0,282520.640662
342,US,2020-12-29,124119.377356,-298994.802493,19595117.0,0.0,340061.0,283357.145209
343,US,2020-12-30,124119.377356,-298994.802493,19827133.0,0.0,343783.0,284193.649757
344,US,2020-12-31,124119.377356,-298994.802493,20061049.0,0.0,347170.0,285030.154306

## 간단한 framework

In [ ]:
scenario = tp.create_scenario(scenario_cfg, name='Second Scenario')
tp.submit(scenario)

In [ ]:
[s.model.read() for s in tp.get_scenarios()]

## 백엔드용 Gui 생성 
_scenario_selector_ 를 사용하면 시나리오를 선택하고 result를 표시할 수 있습니다.

In [ ]:
scenario_selector = [(s.id, s.name) for s in tp.get_scenarios()]
selected_scenario = scenario.id
print(scenario_selector,'\n', selected_scenario)

[('SCENARIO_scenario_6a6d628d-49ae-4877-ad6e-2a403d1a7251', 'First Scenario'), ('SCENARIO_scenario_8c9312d4-1199-49e1-a7cb-038570dfdc19', 'First Scenario')]
 SCENARIO_scenario_6a6d628d-49ae-4877-ad6e-2a403d1a7251

In [ ]:
result = scenario.result.read()
result

,Country/Region,Date,Latitude,Longitude,Confirmed,Recovered,Deaths,Predictions
0,US,2020-01-22,47.140037,-120.791360,1.0,0.0,0.0,NaN
1,US,2020-01-23,47.140037,-120.791360,1.0,0.0,0.0,NaN
2,US,2020-01-24,85.345498,-210.450080,2.0,0.0,0.0,NaN
3,US,2020-01-25,87.000686,-209.922210,2.0,0.0,0.0,NaN
4,US,2020-01-26,158.375485,-442.264230,5.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...
340,US,2020-12-27,124119.377356,-298994.802493,19222064.0,0.0,334533.0,281684.136115
341,US,2020-12-28,124119.377356,-298994.802493,19396237.0,0.0,336438.0,282520.640662
342,US,2020-12-29,124119.377356,-298994.802493,19595117.0,0.0,340061.0,283357.145209
343,US,2020-12-30,124119.377356,-298994.802493,19827133.0,0.0,343783.0,284193.649757
344,US,2020-12-31,124119.377356,-298994.802493,20061049.0,0.0,347170.0,285030.154306

**팁** : value_by_id 속성이 선택 항목에 대해 True로 설정되면 selected_scenario가 튜플(tupple)의 첫 번째 요소(여기서는 id)를 직접 참조하게 됩니다.

![](img/predictions.png)

In [ ]:
prediction_md = """
<|layout|columns=1 5 1 3|
<|{scenario_name}|input|label=Name|>

<br/>
<|Create|button|on_action=create_new_scenario|>

<|{selected_country}|selector|lov={selector_country}|dropdown|on_change=on_change_country|label=Country|>

<br/>
<|Submit|button|on_action=submit_scenario|>

<|{selected_scenario}|selector|lov={scenario_selector}|on_change=actualize_graph|dropdown|value_by_id|label=Scenario|>
|>

<|{result}|chart|x=Date|y[1]=Deaths|type[1]=bar|y[2]=Predictions|>
"""

In [ ]:
def create_new_scenario(state):
    scenario = tp.create_scenario(scenario_cfg, name=state.scenario_name)
    state.scenario_selector += [(scenario.id, scenario.name)]

In [ ]:
def actualize_graph(state):
    scenario = tp.get(state.selected_scenario)
    # 1) update the result dataframe
    # 2) change selected_country with the predicted country of the scenario

In [ ]:
def submit_scenario(state):
    # 1) get the selected scenario
    # 2) write in country Data Node, the selected country
    # 3) submit the scenario
    # 4) actualize le graph avec actualize_graph
    ...

In [ ]:
gui.stop()
page.set_content(prediction_md)
gui.run()

Gui server has been stopped
 * Server starting on http://127.0.0.1:5000
 * Serving Flask app 'Taipy' (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

WARNING:root:
--- 1 warning(s) were found for page '/' in variable 'prediction_md' ---
 - Warning 1:  selector.on_change: on_change_country is not a function
-------------------------------------------------------------------------

result     Country/Region        Date       Latitude      Longitude   Confirmed  \
0               US  2020-01-22      47.140037    -120.791360         1.0
1               US  2020-01-23      47.140037    -120.791360         1.0
2               US  2020-01-24      85.345498    -210.450080         2.0
3               US  2020-01-25      87.000686    -209.922210         2.0
4               US  2020-01-26     158.375485    -442.264230         5.0
..             ...         ...            ...            ...         ...
340             US  2020-12-27  124119.377356 -298994.802493  19222064.0
341             US  2020-12-28  124119.377356 -298994.802493  19396237.0
342             US  2020-12-29  124119.377356 -298994.802493  19595117.0
343             US  2020-12-30  124119.377356 -298994.802493  19827133.0
344             US  2020-12-31  124119.377356 -298994.802493  20061049.0

     Recovered    Deaths    Predictions
0          0.0       0.0            NaN
1          0.0       0.0            NaN
2          0.0       0.0            NaN
3          0.0       0.0            NaN
4          0.0       0.0            NaN
..         ...       ...            ...
340        0.0  334533.0  281684.136115
341        0.0  336438.0  282520.640662
342        0.0  340061.0  283357.145209
343        0.0  343783.0  284193.649757
344        0.0  347170.0  285030.154306

[345 rows x 8 columns]

C:\Users\jacta\anaconda3\lib\site-packages\taipy\gui\gui.py:440: UserWarning: actualize_graph: callback function raised an exception: Variable 'selected' is not accessible.
  warnings.warn(f"{on_change or 'on_change'}: callback function raised an exception: {e}")

result     Country/Region        Date       Latitude      Longitude   Confirmed  \
0               US  2020-01-22      47.140037    -120.791360         1.0
1               US  2020-01-23      47.140037    -120.791360         1.0
2               US  2020-01-24      85.345498    -210.450080         2.0
3               US  2020-01-25      87.000686    -209.922210         2.0
4               US  2020-01-26     158.375485    -442.264230         5.0
..             ...         ...            ...            ...         ...
340             US  2020-12-27  124119.377356 -298994.802493  19222064.0
341             US  2020-12-28  124119.377356 -298994.802493  19396237.0
342             US  2020-12-29  124119.377356 -298994.802493  19595117.0
343             US  2020-12-30  124119.377356 -298994.802493  19827133.0
344             US  2020-12-31  124119.377356 -298994.802493  20061049.0

     Recovered    Deaths    Predictions
0          0.0       0.0            NaN
1          0.0       0.0            NaN
2          0.0       0.0            NaN
3          0.0       0.0            NaN
4          0.0       0.0            NaN
..         ...       ...            ...
340        0.0  334533.0  281684.136115
341        0.0  336438.0  282520.640662
342        0.0  340061.0  283357.145209
343        0.0  343783.0  284193.649757
344        0.0  347170.0  285030.154306

[345 rows x 8 columns]

C:\Users\jacta\anaconda3\lib\site-packages\taipy\gui\gui.py:440: UserWarning: actualize_graph: callback function raised an exception: Variable 'selected' is not accessible.
  warnings.warn(f"{on_change or 'on_change'}: callback function raised an exception: {e}")

scenario_name Scenario
scenario_name Scenario 2
scenario_selector [('SCENARIO_scenario_6a6d628d-49ae-4877-ad6e-2a403d1a7251', 'First Scenario'), ('SCENARIO_scenario_8c9312d4-1199-49e1-a7cb-038570dfdc19', 'First Scenario'), ('SCENARIO_scenario_09800b61-e2f2-4a8a-bdd2-210a71912ada', 'Scenario 2')]
[2022-07-11 11:54:22,630][Taipy][WARNING] Data node DATANODE_result_4c962984-b27e-4bee-9e0d-22417e13f92a is being read but has never been written.

WARNING:Taipy:Data node DATANODE_result_4c962984-b27e-4bee-9e0d-22417e13f92a is being read but has never been written.

result None

C:\Users\jacta\anaconda3\lib\site-packages\taipy\gui\gui.py:440: UserWarning: actualize_graph: callback function raised an exception: Variable 'selected' is not accessible.
  warnings.warn(f"{on_change or 'on_change'}: callback function raised an exception: {e}")
C:\Users\jacta\anaconda3\lib\site-packages\taipy\gui\data\data_accessor.py:100: UserWarning: Can't find Data Accessor for type NoneType
  warnings.warn(f"Can't find Data Accessor for type {type(value).__name__}")

selected_country Australia

C:\Users\jacta\anaconda3\lib\site-packages\taipy\core\data\csv.py:145: DtypeWarning: Columns (0,1) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(self._path)

[2022-07-11 11:54:37,354][Taipy][INFO] job JOB_task_preprocess_data_3cddf592-a854-44ca-842f-7a98d36fe077 is completed.

INFO:Taipy:job JOB_task_preprocess_data_3cddf592-a854-44ca-842f-7a98d36fe077 is completed.

[2022-07-11 11:54:37,470][Taipy][INFO] job JOB_task_make_train_test_data_513f7398-bcd2-4fef-9ee1-6ba3a33be4c1 is completed.

INFO:Taipy:job JOB_task_make_train_test_data_513f7398-bcd2-4fef-9ee1-6ba3a33be4c1 is completed.

Performing stepwise search to minimize aic
 ARIMA(1,1,1)(0,0,0)[0] intercept   : AIC=1421.091, Time=0.07 sec
 ARIMA(0,1,0)(0,0,0)[0] intercept   : AIC=1600.846, Time=0.01 sec
 ARIMA(1,1,0)(0,0,0)[0] intercept   : AIC=1492.040, Time=0.02 sec
 ARIMA(0,1,1)(0,0,0)[0] intercept   : AIC=1538.540, Time=0.04 sec
 ARIMA(0,1,0)(0,0,0)[0]             : AIC=1657.511, Time=0.01 sec
 ARIMA(2,1,1)(0,0,0)[0] intercept   : AIC=1423.027, Time=0.08 sec
 ARIMA(1,1,2)(0,0,0)[0] intercept   : AIC=1422.962, Time=0.09 sec
 ARIMA(0,1,2)(0,0,0)[0] intercept   : AIC=1507.142, Time=0.06 sec
 ARIMA(2,1,0)(0,0,0)[0] intercept   : AIC=1476.601, Time=0.04 sec
 ARIMA(2,1,2)(0,0,0)[0] intercept   : AIC=1424.796, Time=0.17 sec
 ARIMA(1,1,1)(0,0,0)[0]             : AIC=1420.055, Time=0.03 sec
 ARIMA(0,1,1)(0,0,0)[0]             : AIC=1575.589, Time=0.02 sec
 ARIMA(1,1,0)(0,0,0)[0]             : AIC=1502.448, Time=0.01 sec
 ARIMA(2,1,1)(0,0,0)[0]             : AIC=1421.989, Time=0.07 sec
 ARIMA(1,1,2)(0,0,0)[0]             : AIC=1421.923, Time=0.05 sec
 ARIMA(0,1,2)(0,0,0)[0]             : AIC=1529.217, Time=0.03 sec
 ARIMA(2,1,0)(0,0,0)[0]             : AIC=1481.627, Time=0.02 sec
 ARIMA(2,1,2)(0,0,0)[0]             : AIC=1423.958, Time=0.09 sec

Best model:  ARIMA(1,1,1)(0,0,0)[0]
Total fit time: 0.903 seconds
[2022-07-11 11:54:38,517][Taipy][INFO] job JOB_task_train_07394246-1412-4f2b-a421-e41ae4618c25 is completed.

INFO:Taipy:job JOB_task_train_07394246-1412-4f2b-a421-e41ae4618c25 is completed.

[2022-07-11 11:54:38,617][Taipy][INFO] job JOB_task_forecast_0e70e552-64cd-47c5-982d-50fece558163 is completed.

INFO:Taipy:job JOB_task_forecast_0e70e552-64cd-47c5-982d-50fece558163 is completed.

[2022-07-11 11:54:38,713][Taipy][INFO] job JOB_task_result_b781cdcf-b0e4-4674-a327-7088536bb760 is completed.

INFO:Taipy:job JOB_task_result_b781cdcf-b0e4-4674-a327-7088536bb760 is completed.

result     Country/Region        Date  Latitude  Longitude  Confirmed  Recovered  \
0        Australia  2020-01-23  -33.8688   144.9631        0.0        0.0
1        Australia  2020-01-25  -33.8688   144.9631        4.0        0.0
2        Australia  2020-01-26  -33.8688   144.9631        4.0        0.0
3        Australia  2020-01-27  -71.6824   296.1724        5.0        0.0
4        Australia  2020-01-28  -71.6824   296.1724        5.0        0.0
..             ...         ...       ...        ...        ...        ...
338      Australia  2020-12-27 -256.8502  1130.8439    28337.0    25733.0
339      Australia  2020-12-28 -256.8502  1130.8439    28349.0    25748.0
340      Australia  2020-12-29 -256.8502  1130.8439    28381.0    25754.0
341      Australia  2020-12-30 -256.8502  1130.8439    28405.0    25761.0
342      Australia  2020-12-31 -256.8502  1130.8439    28425.0    25762.0

     Deaths  Predictions
0       0.0          NaN
1       0.0          NaN
2       0.0          NaN
3       0.0          NaN
4       0.0          NaN
..      ...          ...
338   909.0  1167.835235
339   909.0  1169.548312
340   909.0  1171.241411
341   909.0  1172.914765
342   909.0  1174.568605

[343 rows x 8 columns]

C:\Users\jacta\anaconda3\lib\site-packages\taipy\gui\gui.py:726: UserWarning: on_action: 'submit_scenario' function invocation exception: Variable 'selected' is not accessible.
  warnings.warn(f"on_action: '{action_function.__name__}' function invocation exception: {e}")
C:\Users\jacta\anaconda3\lib\site-packages\taipy\gui\gui.py:701: UserWarning: on_action: 'submit_scenario' is not a function
  warnings.warn(f"on_action: '{action}' is not a function")

result     Country/Region        Date       Latitude      Longitude   Confirmed  \
0               US  2020-01-22      47.140037    -120.791360         1.0
1               US  2020-01-23      47.140037    -120.791360         1.0
2               US  2020-01-24      85.345498    -210.450080         2.0
3               US  2020-01-25      87.000686    -209.922210         2.0
4               US  2020-01-26     158.375485    -442.264230         5.0
..             ...         ...            ...            ...         ...
340             US  2020-12-27  124119.377356 -298994.802493  19222064.0
341             US  2020-12-28  124119.377356 -298994.802493  19396237.0
342             US  2020-12-29  124119.377356 -298994.802493  19595117.0
343             US  2020-12-30  124119.377356 -298994.802493  19827133.0
344             US  2020-12-31  124119.377356 -298994.802493  20061049.0

     Recovered    Deaths    Predictions
0          0.0       0.0            NaN
1          0.0       0.0            NaN
2          0.0       0.0            NaN
3          0.0       0.0            NaN
4          0.0       0.0            NaN
..         ...       ...            ...
340        0.0  334533.0  281684.136115
341        0.0  336438.0  282520.640662
342        0.0  340061.0  283357.145209
343        0.0  343783.0  284193.649757
344        0.0  347170.0  285030.154306

[345 rows x 8 columns]

C:\Users\jacta\anaconda3\lib\site-packages\taipy\gui\gui.py:440: UserWarning: actualize_graph: callback function raised an exception: Variable 'selected' is not accessible.
  warnings.warn(f"{on_change or 'on_change'}: callback function raised an exception: {e}")

# 다중 페이지(Multi-pages) 및 Taipy Rest

다중 페이지 앱을 만들려면 names이 keys로, Markdowns이 values으로 포함된 사전(dictionary)만 있으면 됩니다.

_navbar_ 컨트롤 (<|navbar|>)에는 기본 동작(default behaviour)이 있습니다. 앱의 다른 페이지로 자동으로 리디렉션됩니다. 다른 솔루션도 있습니다.

![](img/multi_pages.png)

In [ ]:
navbar_md = "<center>\n<|navbar|>\n</center>"

pages = {
    "Map":navbar_md+map_md,
    "Country":navbar_md+final_country_md,
    "Predictions":navbar_md+prediction_md
}

rest = tp.Rest()

gui_multi_pages = Gui(pages=pages)
tp.run(gui_multi_pages, rest, dark_mode=False, port=5006)